:root input[type=checkbox] {
  /* original check box are push outside the viewport */
  position: absolute;
  left: -1000em;
}

:root input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width  : 16px;
  height : 16px;
  margin : 0 .5em 0 0;
  background-image: url("checkbox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;

/* The following is used to adjust the position of 
   the check boxes on the text baseline */

  vertical-align: bottom;
  position: relative;
  bottom: 2px;
}

:root input[type=checkbox]:checked + label:before {
  background-position: 0 -16px;
}

:root input[type=checkbox]:disabled + label:before {
  background-position: 0 -32px;
}

:root input[type=checkbox]:checked:disabled + label:before {
  background-position: 0 -48px;
}

:root input[type=checkbox]:focus + label:before {
  outline: 1px dotted black;
}
